.udon img {
    display: block;
    margin: 100px auto 24px;
    width: 300px;
    height: auto;
}

.container {
    position: static;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    min-width: 80px;
    height: 40px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: rgb(65 165 239);
}

button:hover {
    background-color: rgb(113 167 163);
}
